/* @import "tailwindcss"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Cascadia Mono", "Cascadia Code", "Consolas", "Adelle", 'Courier New', Courier, "Roboto Slab", "DejaVu Serif", "Georgia", "Times New Roman", sans-serif, monospace;
}
