/* @import "tailwindcss"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --fontfamily: "Adelle", 'Courier New', Courier, "Roboto Slab", "DejaVu Serif", "Georgia", "Times New Roman", sans-serif, monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--fontfamily);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
}