.footer {
    margin-top: auto;
}

.container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item {
    text-decoration: none;
    color: var(--foreground);
    margin: 2px 0px;
    font-size: 14px;
    text-align: center;
}

.item ~ .item {
    font-size: 12px
}

.hidden {
    color: var(--background);
    margin: 0px 0px;
}