.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #2a7ae2;
    font-size: 18px;
    letter-spacing: 0.02em;
    transition: color 0.2s;
    margin: 30px 15px;
    border-radius: 8px;
    font-weight: 900;
}

.link:hover, .link:focus {
    color: #174ea6;
    text-decoration: none;
}
